.hero-img {
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 45%;
}

.homepage-text {
  font-size: 1.5rem;
}
