body {
  background-color: #242322;
  letter-spacing: 3px;
}

.bg-main {
  background-color: #242322;
}

.bg-main-light {
  background-color: #504f4e;
}

.text-light {
  color: #eeece5 !important;
}

.text-success {
  color: #b9a250 !important;
}

.border-success {
  border-color: #b9a250 !important;
}

.bg-success {
  background-color: #b9a250 !important;
}
